@font-face{
  font-family: "aileron";
  src: url('/assets/fonts/aileron/Aileron-Light.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

// @font-face{
//   font-family: "aileron";
//   src: url('/assets/fonts/aileron/Aileron-LightItalic.otf') format('opentype');
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face{
//   font-family: "aileron";
//   src: url('/assets/fonts/aileron/Aileron-Thin.otf') format('opentype');
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face{
//   font-family: "aileron";
//   src: url('/assets/fonts/aileron/Aileron-Black.otf') format('opentype');
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face{
//   font-family: "aileron";
//   src: url('/assets/fonts/aileron/Aileron-BlackItalic.otf') format('opentype');
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face{
//   font-family: "aileron";
//   src: url('/assets/fonts/aileron/Aileron-Bold.otf') format('opentype');
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face{
//   font-family: "aileron";
//   src: url('/assets/fonts/aileron/Aileron-BoldItalic.otf') format('opentype');
//   font-style: normal;
//   font-weight: bold;
// }