$white-color: #FFFFFF;
$black-color: #000000;

$primary-color: #FF5A70;
$success-color: #36CF82;
$secondary-color: #F29D42;
$error-color: #e1001d;
$label-color: #3B3B3B;
$hint-color: #898989;

$grey-color: #EBEBEB;
$disabled-color-btn: #c0c0c0;


// Breakpoints
$grid-breakpoints-xs: 280px;
$grid-breakpoints-sm: 560px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1600px;