
@import '../../../../assets/scss/variables.scss';

.calendar{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  @media( min-width: $grid-breakpoints-sm){
    display: grid;
    grid-template-columns: 29% 1fr 29%;
    gap: 5px;
  }

  .calendar-day{
    flex-basis: 29%;
  }
  .calendar-month{
    flex-basis: 1fr;
  }
  .calendar-year{
    flex-basis: 29%;
  }

  input{
    width: 100%;
  }
}