<label class="select" for="slct">
  <select id="slct" required="required">
    <option value="" disabled="disabled" selected="selected">{{ placeholder }}</option>
    <option value="#">One</option>
    <option value="#">Two</option>
    <option value="#">Three</option>
    <option value="#">Four</option>
    <option value="#">Five</option>
    <option value="#">Six</option>
    <option value="#">Seven</option>
  </select>
  <svg>
    <use xlink:href="#select-arrow-down"></use>
  </svg>
</label>
<!-- SVG Sprites-->
<svg class="sprites">
  <symbol id="select-arrow-down" viewbox="0 0 10 6">
    <polyline points="1 1 5 5 9 1"></polyline>
  </symbol>
</svg>