<div class="contracts">
  <div class="contracts__tittle">
    <h2> Contracts for TESLA </h2>
  </div>
  <div class="contracts__controls">
    <div class="contracts__controls-primariess">

      <div class="search">
        <label class="input input-icon input-xl">
          <input class="input" type="text" name="buscador" id="search" placeholder="Search">
          <span class="material-symbols-rounded">search</span>
        </label>
      </div>

      <div class="filter">
        <button class="btn btn-grey" type="button">
          <span class="material-symbols-rounded">tune</span>
          <span class="text">Filter</span>
        </button>
      </div>

      <div class="new-hire">
        <button class="btn btn-primary btn-shadow" type="button">
          <span class="material-symbols-rounded">add</span>
          <span class="text">New hire</span>
        </button>
      </div>
    </div>
    <div class="contracts__controls-secondaries">
      <div class="contracts__controls-calendar">
        <!-- <input autocomplete="off" type="text" class="input-shadow" name="calendar" id="calendar" placeholder="Calendar"> -->
        <app-calendar></app-calendar>
      </div>
      <div class="contracts__controls-type">
        <app-select [placeholder]="'Contract type'"></app-select>
      </div>
      <div class="contracts__controls-name">
        <input autocomplete="off" type="text" class="input-shadow" name="name" id="name" placeholder="Contract name">
      </div>
      <div class="contracts__controls-status">
        <app-select [placeholder]="'Status'"></app-select>
      </div>
    </div>
  </div>
  <div class="contracts__table">
    <app-table></app-table>
  </div>
</div>