<div class="cont-table">
  <div class="table">
    <div class="table__header">
      <div class="table__header-header">
        <div class="header-column">
          <span>Contractor name</span>
        </div>
        <div class="header-column">
          <span>Type</span>
        </div>
        <div class="header-column">
          <span>Start date</span>
        </div>
        <div class="header-column">
          <span>Amount</span>
        </div>
        <div class="header-column flex-start">
          <span>Status</span>
        </div>
        <div class="header-column">
          <span>Actions</span>
        </div>
      </div>
    </div>
    <div class="table__body">
      <div class="table__body-row">
        <div class="header-column">
          <img src="../../../../assets/images/Ellipse-43.png" alt="img-client-tesla">
          <span>Darlene Robertson</span>
        </div>
        <div class="header-column">
          <span>Traditional</span>
        </div>
        <div class="header-column">
          <span>Mar 4, 2021</span>
        </div>
        <div class="header-column">
          <span>$200 USD</span>
        </div>
        <div class="header-column flex-start">
          <span class="badge badge-warning">
            <div class="xs-circle backgroud-warning"></div> Signature pending
          </span>
        </div>
        <div class="header-column">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action-menu-table">
            <mat-icon style="color: #C4C4C4;">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item>
              <mat-icon>draw</mat-icon>
              <span>Sign</span>
            </button>
            <button mat-menu-item>
              <mat-icon>description</mat-icon>
              <span>View summary</span>
            </button>
            <button mat-menu-item>
              <mat-icon style="color:#FF5A70;">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>