@import '../../../../assets/scss/variables.scss';

:host{
  width: 100%;
}

.cont-table{
  width: 100%;

  .table-style{
    width: 100%;
    background-color: $white-color;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
  }

  .table-xl{
    padding: 36px 15px 30px 15px;
    display: none;

    @media (min-width: $grid-breakpoints-lg) {
      display: block;
    }

    .header-column{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .flex-start{
      justify-content: flex-start;
      span{
        display: inline-block;
        width: 100%;
      }
    }

    .table__header{
      width: 100%;
      height: 60px;

      .table__header-header{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 10% 15% 20% 15% 10%;

        .header-column > span{
          font-style: normal;
          font-weight: 700;
          color: $black-color;
          font-size: 16px;
          letter-spacing: 0.25px;
          display: inline-block;
        }

      }
    }

    .table__body{
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 24px;

      .table__body-row{
        width: 100%;
        height: 90px;
        display: grid;
        grid-template-columns: 1fr 10% 15% 20% 15% 10%;
        background-color: $backgroun-color;

        .header-column > span{
          color: $label-color;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.1px;
        }

        img{
          margin-right: 15px;
          width: 30px;
          height: 30px;
        }

        .header-column > .icon-actions{
          font-size: 18px;
          font-weight: bold;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }

    .icon-delete{
      color: $primary-color;
    }
  }

  .table-xs{
    display: block;
    opacity: 1;
    padding: 15px 25px;
    flex-flow: column wrap;

    .table-row{
      padding: 10px;
      display: flex;
      flex-flow: row wrap;
      height: 40px;

      .key{
        flex-basis: 40%;
        height: 100%;
      }

      .value{
        flex-basis: 60%;
        height: 100%;
      }
    }

    &>:nth-child(2n - 1){
      background-color: $backgroun-color;
    }

    @media (min-width: $grid-breakpoints-lg) {
      display: none;
    }

  }

  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}