<nav class="nav-bar navbar-fixed-top">

  <div class="nav-bar__cont-izquierda">
    <img class="hover" src="../../../../assets/images/pink-1.png" alt="logo-ontop">
  </div>

  <div class="nav-bar__cont-centro">
    <ul class="menu-items">
      <li class="menu-items__item active">
        <a href="JavaScript:Void(0)" class="item-content">
          <span class="icon-left material-symbols-rounded">person</span>
          <span class="item-text">Contracts</span>
          <span class="icon-right material-symbols-rounded">expand_more</span>
        </a>
        <div class="line-active"></div>
      </li>
      <li class="menu-items__item">
        <a href="JavaScript:Void(0)" class="item-content">
          <span class="icon-left material-symbols-rounded">text_snippet</span>
          <span class="item-text">Documents</span>
          <span class="icon-right material-symbols-rounded">expand_more</span>
        </a>
        <div class="line-active"></div>
      </li>
      <li class="menu-items__item">
        <a href="JavaScript:Void(0)" class="item-content">
          <span class="icon-left material-symbols-rounded">credit_card</span>
          <span class="item-text">Payout</span>
          <span class="icon-right material-symbols-rounded">expand_more</span>
        </a>
        <div class="line-active"></div>
      </li>
      <li class="menu-items__item">
        <a href="JavaScript:Void(0)" class="item-content">
          <span class="icon-left material-symbols-rounded">calendar_month</span>
          <span class="item-text">Time</span>
          <span class="icon-right material-symbols-rounded">expand_more</span>
        </a>
        <div class="line-active"></div>
      </li>
    </ul>
  </div>

  <div class="nav-bar__cont-derecha">
    <div class="linea-separadora"></div>
    <img class="hover" src="../../../../assets/images/Ellipse-49.png" alt="logo-ontop">
    <span class="icon-left material-symbols-rounded">expand_more</span>
  </div>

  <div class="hamburguer-button">
    <button mat-icon-button aria-label="action-menu-toggle">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</nav>